.card-style {
    max-width: 540px;
}

.image {
    margin: auto;
}

.image-container {
    margin-top: 1%;
}

.button-buy{
    margin-left: 36%;
}

.icon{
    margin-right: 12px;
}

.icon2{
    margin-left: 12px;
}