.cardStyle {
    width: 18rem;
    margin-bottom: 5px;
    margin-top: 15px;
}

.content :hover {
    background-color: #f5f7f8;
}

.buttons {
    background-color:  #1C538C !important;
}

.card-title {
    color: #1C538C;
}

.card-content {
    text-align: center;
}